.banner{
    width: 1200px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
}

.header{
    font-family: 'Ubuntu', sans-serif;
    font-size: 33px;
    padding: 21px 42px;
}

.carousel, .carousel1{
    display: flex;
    justify-content: center;
    margin: 0 35px;
    flex-wrap: nowrap;
    height: 220px;
}

.carousel1{
    padding-top: 6rem;
}

.catalog-container{
    width: 90vw;
    display: flex;
    justify-content: center;
    margin: 0 30px;
    flex-wrap: wrap;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration-line: none;
}

a.custom-card:hover {
    color: #673AB7;
}

.card{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
    width: 201px;
    height: 203px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: 4px 4px 0px #CDCDCD;
    margin: 10.5px;
}

.card-img{
    width: 200px;
    height: 150px;
}

.caption{
    padding: 5px;
    font-size: 17px;
}

.caption:hover{
    text-decoration-color: #673AB7;
}

.search-row{
    display: flex;
    width: 98vw;
    padding: 42px;
    flex-direction: row;
}

.form-group{
    width: 430px;
}

.search{
    width: 20px;
}

.search-button{
    text-decoration: none;
    border: 0px;
    background-color: transparent;
}

.search-button:hover{
    color: #673AB7;
}

.carousel-inner{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}

.carousel-item, .carousel-item1{
    display: block;
    flex: 0 0 15%;
    margin: 1px;
}

.carousel-item1{
    display: block;
}


.carousel-control-prev, .carousel-control-next,
.carousel-control-prev1, .carousel-control-next1{
    width: 6vh;
    height: 6vh;
    background-color: #181823;
    border: 50%;
    top: 50%;
    opacity: 0.5;
    transform: translateY(-50%);
    border-radius: 50%;
}


.carousel-control-prev:hover, .carousel-control-next:hover,
.carousel-control-prev1:hover, .carousel-control-next1:hover{
    opacity: 1;
}

.bubble-box{
    position: relative;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 17.5px;
    margin: 0 10.5px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    justify-content: center;
}

#search-event{
    border: 0px;
    outline: none;
    width: 375px;
    padding: 0px 10px;
}

#search-event:focus{
    outline:none;
}

.next, .prev {
    width: 25px;
    height: 25px;
}

/* EVENT */

.desc-container{
    width: 90vw;
    margin: 40px;
    display: flex;
    flex-direction: row;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 21px;
    height: 370px;
}

.desc-img{
    width: 450px;
    border: 1px solid #CDCDCD;
}

.desc-headline{
    font-size: 25px;
}

.desc-caption{
    text-align: justify;
}

.slide{
    display: flex;
    width: 100vw;
    height: 1600px;
    scroll-snap-type: x mandatory;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 63px;

}

.slide1{
    display: flex;
    width: 100vw;
    height: 1200px;
    scroll-snap-type: x mandatory;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 63px;

}

.slide section{
    flex: none;
    scroll-snap-align: start;
    scroll-margin-left: 50px;
    margin-bottom: 63px;
}

.slide1 section{
    flex: none;
    scroll-snap-align: start;
    scroll-margin-left: 50px;
    margin-bottom: 63px;
}

.stat-container{
    width: 90vw;
    margin: 40px;
    display: flex;
    flex-direction: column;

}

.stat-headline{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 21px;
    font-weight: 600;
}

.purple{
    color: #522E93;
}

.stat-subheadline{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.rincian-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17vw;
    border: 1px solid #CDCDCD;
    box-shadow: 4px 4px 0px #CDCDCD;
    margin: 21px;
    padding: 21px;
    border-radius: 5%;
}

.nav-button,
.nav-button1{
    position: relative;
    width: 6rem;
    height: 2.75rem;
    border-radius: 0%;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: 0px;
    background-color: transparent;
    color: #522E93;
    opacity: 1;
    justify-content: center;
}

.nav-button:hover,
.nav-button1:hover{
    color: #522E93;
    transform: translateY(-20px);
}

.nav-cont .active, .nav-cont1 .active{
    border-bottom: 3px solid #522E93;
    color: #522E93;
}

.nav-cont{
    margin: auto;
    height: 4rem;
    width: 100vw;
    margin: 20px 20px 20px 20px;
}

.nav-cont1{
    height: 4rem;
    width: 20vw;
    margin: -20px;
}

.grafik{
    width: 100px;
}

.card1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
    width: 201px;
    height: 250px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: 4px 4px 0px #CDCDCD;
    margin: 10.5px;
}

.caption1{
    padding: 8px 10px;
    font-size: 17px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small{
    font-size: 14px;
}

.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 21px;
}

.donate{
    display: flex;
    background-color: #522E93;
    color: white;
    text-decoration: none;
    width: 10rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    margin: 21px;
    font-size: 18px;
    border-radius: 5px;

}

.donate:hover{
    background-color: #673AB7;
    color: white;
}

.nav-line{
    margin-top: -20px;
}

.invisible{
    height: 1380px;

}

.progress-container{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress{
    width: 100%;
    height: 1.25rem;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid #CDCDCD;
}

.progress-bar{
    background-color: #673AB7;
}

.date{
    text-align: center;
}

.more-products{
    display: flex;
    flex-direction: row;
    width: 98vw;
    justify-content: space-around;
    align-items: center;
    margin: 21px;
}

.more{
    padding: 12px;
    color:#522E93;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 3px solid #522E93;
    background-color: white;
}

.more:hover{
    background-color: #522E93;
    color: white;
}

.line1{
    border: 1px solid #522E93;
    width: 400px;
    box-shadow: none;
}
