footer{
    background-color: black;
    height: 250px;
    padding: 15px 42px;
    color: white;
	font-family: 'Poppins';

    padding-left: 100px;
    padding-right: 100px;
}

.mid{
    height: 60%;
}

.right i{
    font-size: 45px;
}

.bottom{
    height: 15%;
}
