.index{
    /* background-color: aqua; */
    height: 2000px;
}

/* search */
.searchDiv{
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2;
}

.searchLogo{
    margin-left: -43px;
}

input[type=text]{
    all: unset;
    width: 65%;
    height: 38px;
    background-color: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding-left: 20px;
}
/* search */

/* banner */
.bannerDiv{
    padding-top: 90px;
    /* background-color: yellow; */
    width: 100%;
    height: fit-content;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 10px;
    /* overflow: hidden; */
}
/* banner */

/* section title */
.section-title{
    padding: 20px 42px;
    font-family: 'Ubuntu';
    font-size: 30px;
}
/* section title */

/* event recommendation */
.recommendDiv{
    width: 100%;
    /* height: 280px; */
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    /* background-color: pink; */
    padding-bottom: 30px;
}

.recommendDiv .carousel{
    display: flex;
    justify-content: center;
    margin: 0 35px;
    flex-wrap: nowrap;
    height: 220px;
}

.recommendDiv .catalog-container{
    width: 90vw;
    display: flex;
    justify-content: center;
    margin: 0 30px;
    flex-wrap: wrap;
}

.recommendDiv a.custom-card,
.recommendDiv a.custom-card:hover {
    color: inherit;
    text-decoration-line: none;
}

.recommendDiv a.custom-card:hover {
    color: #673AB7;
}

.recommendDiv .card{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
    width: 201px;
    height: 203px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: 4px 4px 0px #CDCDCD;
    margin: 10.5px;
    /* background-color: pink; */
    border-radius: 0;
}

.recommendDiv .card-img{
    width: 200px;
    height: 150px;
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.recommendDiv .caption{
    padding: 5px;
    /* background-color: pink; */
    /* height: 100px; */
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 8px 13px;
}

.recommendDiv .caption:hover{
    text-decoration-color: #673AB7;
}

.recommendDiv .carousel-inner{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}

.recommendDiv .carousel-item{
    display: block;
    flex: 0 0 15%;
    margin: 1px;
}

.recommendDiv .carousel-control-prev, .recommendDiv .carousel-control-next,
.recommendDiv .carousel-control-prev1, .recommendDiv .carousel-control-next1{
    width: 6vh;
    height: 6vh;
    background-color: #181823;
    border: 50%;
    top: 50%;
    opacity: 0.5;
    transform: translateY(-50%);
    border-radius: 50%;
}

.recommendDiv .carousel-control-prev:hover, .recommendDiv .carousel-control-next:hover,
.recommendDiv .carousel-control-prev1:hover, .recommendDiv .carousel-control-next1:hover{
    opacity: 1;
}

.next, .prev {
    width: 25px;
    height: 25px;
}

.slide2{
    display: flex;
    scroll-snap-type: x mandatory;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 63px;

}
/* event recommendation */

/* product recommendation */
.products{
    /* background-color: pink; */
    height: fit-content;
    /* height: 800px; */
    align-items: start;
    /* justify-content: stretch; */
    /* justify-content: start; */
    padding: 0px 42px;
    padding-bottom: 30px;
}

.recProductsDiv a.custom-card{
    height: fit-content;
    /* margin: 0; */
    width: 20%;
}

.recProductsDiv a.custom-card,
.recProductsDiv a.custom-card:hover {
    color: inherit;
    text-decoration-line: none;
}

.recProductsDiv a.custom-card:hover {
    color: #673AB7;
}

.recProductsDiv .card{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
    width: 201px;
    height: 203px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: 4px 4px 0px #CDCDCD;
    margin: 10.5px;
    /* background-color: pink; */
    border-radius: 0;
}

.recProductsDiv .card-img{
    width: 200px;
    height: 150px;
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: yellow; */
}

.recProductsDiv .caption{
    padding: 5px;
    /* background-color: pink; */
    /* height: 100px; */
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 8px 13px;
}

.recProductsDiv .caption:hover{
    text-decoration-color: #673AB7;
}
/* product recommendation */
