
#edit-content {
    display: none;
}

.banner{
    width: 1200px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
}

.header{
    font-family: 'Ubuntu', sans-serif;
    font-size: 33px;
    padding: 21px 42px;
}

.carousel, .carousel1{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: nowrap;
    height: 260px;
    width: 98vw;
}

.carousel1{
    padding-top: 6rem;
}

.catalog-container{
    /* border: 1px solid red; */
    width: 98vw;
    display: flex;
    justify-content: center;
    margin: 0 0px;
    flex-wrap: wrap;
}

.catalog-container img{
    width: 1000px;
    height: 300px;
}

#section1{
    padding: 21px 0px 42px 25px;
    width: 98vw;
}

.add-icon{
    display: flex;
    justify-content: center;
}

.add-img{
    /* width: 1px;
    height: 10px; */
    margin-top: 50px;
    margin-bottom: 21px;
}

.caption-add{
    text-align: center;
}

.card-container{
    margin-left: 30px;
    margin-bottom: 84px;
    /* display: flex; */
    gap: 42px;
}


.price{
    font-weight: 500;

}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration-line: none;
  /* margin-right: -1vw; */
}

a.custom-card:hover {
    color: #673AB7;
}

.card{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
    width: 201px;
    height: 203px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: 4px 4px 0px #CDCDCD;
    /* margin: 12px; */
    border-radius: 0%;
}

.card-img{
    width: 200px;
    height: 150px;
}

.caption{
    padding: 9px;
    font-size: 17px;
}

.caption:hover{
    text-decoration-color: #673AB7;
}

.search-row{
    display: flex;
    width: 96vw;
    margin: 21px;
    padding: 8px;
    flex-direction: row;
    position: sticky;
    top: 57px;
    z-index: 1;
    background-color: white;
}

.form-group{
    width: 430px;
}

.search{
    width: 20px;
}

.search-button{
    text-decoration: none;
    border: 0px;
    background-color: transparent;
}

.search-button:hover{
    color: #673AB7;
}

.carousel-inner{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-item, .carousel-item1{
    display: block;
    flex: 0 0 15%;
    margin: 1px;
}

.carousel-item1{
    display: block;
}

.carousel-control-prev, .carousel-control-next,
.carousel-control-prev1, .carousel-control-next1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vh;
    height: 8vh;
    background-color: #181823;
    border: 50%;
    top: 50%;
    opacity: 0.5;
    transform: translateY(-50%);
    border-radius: 50%;
}

.carousel-control-prev:hover, .carousel-control-next:hover,
.carousel-control-prev1:hover, .carousel-control-next1:hover{
    opacity: 1;
}

.bubble-box{
    position: relative;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 17.5px;
    margin: 0 10.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-event{
    border: 0px;
    outline: none;
    width: 375px;
    padding: 0px 10px;
}

#search-event:focus{
    outline:none;
}

.next, .prev {
    width: 25px;
    height: 25px;
}

/* EVENT */

.desc-container{

    /* width: 90vw; */
    /* margin: 40px; */
    display: flex;
    flex-direction: row;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 40px 100px 40px 100px;
    /* padding-right: 85px; */
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 21px;
    height: 400px;
}

.desc-img{
    width: 450px;
    height: 337.5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 20px;
    border: 1px solid #CDCDCD;
    filter: drop-shadow(4px 4px 8px #CDCDCD);
}

.desc-headline{
    font-size: 25px;
    /* margin-bottom: 21px; */
}

.desc-caption{
    text-align: justify;
    line-height: normal;
    /* margin-bottom: 21px; */
}

.desc-point{
    margin-top: 21px;
}

.edit-desc{
    border: 1px solid #CDCDCD;
    filter: drop-shadow(4px 4px 8px #CDCDCD);
    font-size: 1.4vw;
}

.edit-title{
    border: 1px solid #CDCDCD;
    filter: drop-shadow(4px 4px 8px #CDCDCD);
    font-size: 1.4vw;
}

textarea{
    resize: none;
    padding-left: 0.5vw;
    padding-top: 0.5vw;
    width: 40vw;

}

button{
    border: none;
}

.slide{
    display: flex;
    width: 102vw;
    height: 1400px;
    scroll-snap-type: x mandatory;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 63px;
}

.slide::-webkit-scrollbar {
    display: none;
}

.slide1::-webkit-scrollbar {
    display: none;
}

.slide1{
    display: flex;
    width: 100vw;
    height: 1200px;
    scroll-snap-type: x mandatory;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 63px;

}

.slide section{
    flex: none;
    scroll-snap-align: start;
    scroll-margin-left: 50px;
    margin-bottom: 63px;
}

.slide1 section{
    flex: none;
    scroll-snap-align: start;
    scroll-margin-left: 50px;
    margin-bottom: 63px;
}

.stat-container{
    width: 90vw;
    margin: 40px;
    display: flex;
    flex-direction: column;

}

.stat-headline{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 21px;
    font-weight: 600;
    height: 45px;
}

.purple{
    color: #522E93;
    margin-top: 21px;
    margin-bottom: 21px;
}

.stat-subheadline{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 30px;
    display: flex;
    text-align: center;
    padding-top: 5px;
}

.rincian-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 92vw;
    margin: 21px 0 30px 0;
}

.rec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21vw;
    border: 2px solid #CDCDCD;
    box-shadow: 4px 4px 0px #CDCDCD;
    padding: 15px 0;
    border-radius: 5px;
    transition: transform .2s ease;
}

.purchase-history{
    /* border: 1px solid; */
}

.purchase-history-headline{
    margin-top: 20vw;
    display: flex;
    flex-direction: row;
    margin-bottom: 42px;
}

.purchasehistory-subheadline{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.see-all{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-left: auto;

}

.see-all a{
    color: black;
}

.nav-button,
.nav-button1{
    position: relative;
    width: 6rem;
    height: 2.75rem;
    border-radius: 0%;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: 0px;
    background-color: transparent;
    color: #522E93;
    opacity: 1;
    justify-content: center;
}

.nav-button:hover,
.nav-button1:hover{
    color: #522E93;
    transform: translateY(-20px);
}

.nav-cont .active, .nav-cont1 .active{
    border-bottom: 3px solid #522E93;
    color: #522E93;
}

.nav-cont{
    background-color: white;
    position: sticky;
    top: 35px;
    z-index: 1;
    margin: auto;
    height: 4rem;
    width: 97vw;
    margin: 20px 20px 20px 20px;
}

.nav-cont1{
    height: 3rem;
    width: 19vw;
    padding-bottom: 15px;
}

.grafik-time{
    /* border: 1px solid; */
}

.grafik{
    width: 100px;
}

.card1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
    width: 201px;
    height: 250px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: 4px 4px 0px #CDCDCD;
    margin: 10.5px;
}

.caption1{
    padding: 8px 10px;
    font-size: 17px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small{
    font-size: 14px;
}

.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 21px;
}

.donate{
    display: flex;
    background-color: #522E93;
    color: white;
    text-decoration: none;
    width: 455px;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    margin: 21px;
    font-size: 18px;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 8px #CDCDCD);
}

.donate:hover{
    background-color: #522E93;
    color: white;
}

.nav-line{
    margin-top: -20px;
    position: sticky;
    top: 98px;
    z-index: 1;
}

.invisible{
    height: 1140px;

}

.progress-container{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 21px;
    /* margin-top: 21px;
    margin-bottom: 21px; */
}

.progress{
    width: 100%;
    height: 1.25rem;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid #CDCDCD;
}

.progress-bar{
    background-color: #673AB7;
}

.date{
    text-align: center;
}

.more-products{
    display: flex;
    flex-direction: row;
    width: 96vw;
    justify-content: space-around;
    align-items: center;
    margin: 42px 18px 84px 18px;
}

.more{
    padding: 14px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 0px;
    background-color: #522E93;
}

.more:hover{
    background-color: #673AB7;
    color: white;
}

.line1{
    border: 1px solid #522E93;
    width: 400px;
    box-shadow: none;
}

.edit-photo{
    width: 450px;
    height: 337.5px;
    background-color: #CDCDCD;
    opacity: 0.8;

    border-radius: 20px;
    border: 1px solid #CDCDCD;
    position: absolute;
    z-index: 2;
}

.edit-photo i{
    font-size: 6vw;
}
