/* search */
.searchDiv{
    background-color: white;
    width: 100%;
    height: 55px;
    padding-bottom: 4px;
    position: fixed;
    z-index: 15;
}

.searchLogo{
    margin-left: -43px;
}

input[type=text]{
    all: unset;
    width: 65%;
    height: 38px;
    background-color: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding-left: 20px;
}
/* search */

/* categories */
.categoriesDiv{
    width: 100%;
    padding-top: 65px;
}

.categories{
    padding: 0px 42px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.categoriesCart{
    background: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    padding: 8px 20px;
    margin-right: 15px;
    margin-bottom: 25px;
}

/* product */
.productsDiv{
    width: 100%;
}

.products{
    height: fit-content;
    align-items: start;
    padding: 0px 42px;
}
/* product */

/* button */
.btn-1{
    background-color: #522E93;
    color: #FFFFFF;
    padding: 0;
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 43px;
    filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
    border-radius: 0;
}

.btn-1:hover{
    background-color: #522E93;
    color: #FFFFFF;
    padding: 0;
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 43px;
    filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
    border-radius: 0;
}

.seeMore{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
}

.lineBtn{
    height: 2px;
    width: 40%;
    background-color: #522E93;
}

.fullBtn{
    margin-top: 30px;
    margin-bottom: 80px;
    padding: 0px 42px;
}

#more {
    display: none;
}
/* button */

